%head
  %title= full_title(yield(:title))

  = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :type => nil

  = javascript_include_tag 'application', 'data-turbolinks-track' => true

  = csrf_meta_tags
